* { box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
  margin:0;
}

#wrapper {
  display: grid;
  grid-auto-rows: minmax(0, auto);
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
  background-color: #003058;
  color: #FFFFFF;
  font-family: Georgia, serif;
}
header a {
  color:#ffffff;
  text-decoration: none;
}
header h1 {
  line-height: 140%;
  padding: 0.5rem 1rem 0.5rem 1rem; 
  background-image: url('utahtechlogo.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 0;
}

nav {
  font-weight: bold;
  background-color: #424242;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}
nav ul li {
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 0rem;
  display: block;
  text-align: center;
}
nav a:hover {
  background-color: #BA1C21;
}
h2 {
  color: #424242;
  font-family: Georgia, serif;
}

h3 {
  color: #003058;
}

dt {
  color: #003058;
  font-weight: bold;
}

.ut {
  color: #BA1C21;
  font-weight: bold;
}

main {
  background-color:#ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  font-size: 0.70rem;
  font-style: italic;
  text-align: center;
  padding: 1rem;
}

#homehero, #studenthero, #facultyhero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#homehero {
  background-image: url('homehero.jpg');
}

#studenthero {
  background-image: url('studenthero.jpg');
}

#facultyhero {
  background-image: url('facultyhero.jpg');
}
header {
  grid-row: 1 / 2;
  grid-column: 2 / -2;
}
nav {
  grid-row: 2 / 3;
  grid-column: 2 / -2;
}
#homehero, #studenthero, #facultyhero {
  grid-row: 3 / 4;
  grid-column: 2 / -2;
}
main { 
  grid-row: 4 / 5;
  grid-column: 2 / -2;
}
footer {
  grid-row: 5 / 6;
  grid-column: 2 / -2;
}
main img {
  float: right;
  padding-left: 2rem;
}