body {
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-attachment: fixed;
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
}

#wrapper {
  width: 80%;
  min-width: 960px;
  max-width: 2048px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
}

header {
  background-color: #003058;
  color: #FFFFFF;
  font-family: Georgia, serif;
}

header h1 {
  line-height: 140%;
  padding: 0.5rem 1rem 0.5rem 1rem; 
  background-image: url('utahtechlogo.png');
  background-position: right center;
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 0;
}

nav {
  font-weight: bold;
  background-color: #F3F3F3;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

nav a {
  text-decoration: none;
}

h2 {
  color: #424242;
  font-family: Georgia, serif;
}

h3 {
  color: #003058;
}

dt {
  color: #003058;
  font-weight: bold;
}

.ut {
  color: #BA1C21;
  font-weight: bold;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  font-size: 0.70rem;
  font-style: italic;
  text-align: center;
  padding: 1rem;
}

#homehero, #studenthero, #facultyhero {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#homehero {
  background-image: url('homehero.jpg');
}

#studenthero {
  background-image: url('studenthero.jpg');
}

#facultyhero {
  background-image: url('facultyhero.jpg');
}
